my-header {
    background: url(/assets/img/icon.png) #e6e6e6 8px 50% / 50px 50px no-repeat;
    display: block;
    height: 50px;
    padding: 10px;
    padding-left: 25px;

    li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
}
